{
  "plugins": [],
  "printWidth": 120,
  "singleQuote": true,
  "bracketSpacing": true,
  "trailingComma": "none",
  "semi": true,
  "prettier.semi": true,
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "semi": true,
        "bracketSameLine": true,
        "printWidth": 120,
        "useTabs": false,
        "tabWidth": 2
      }
    }
  ]
}
